@charset "UTF-8";
.subPage {
  display: flex;
  height: 148px;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f3f4;
}
.subPage__name {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}
.subPage__ul {
  list-style: none;
  display: flex;
}
.subPage__list::after {
  font-weight: 300;
  color: #636363;
  content: " / ";
}
.subPage__list:last-of-type::after {
  content: none;
}
.subPage__list:last-of-type .subPage__link {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
}
.subPage__link {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
  margin-left: 2px;
}

.productMain {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
}
.productMain__right {
  width: 850px;
  margin-left: 20px;
}

.productMenu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 243px;
}
.productMenu__details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.productMenu__details[open] summary {
  color: #f16d7f;
}
.productMenu__details[open] summary .triangle_active_up {
  display: block;
}
.productMenu__details[closed] summary .triangle_active_up {
  display: none;
}
.productMenu__details[open] summary .triangle_active_down {
  display: none;
}
.productMenu__details[closed] summary .triangle_active_down {
  display: block;
}
.productMenu__name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
  padding: 11px 6px 11px 11px;
  transition: color 0.2s;
}
.productMenu__name::-webkit-details-marker {
  display: none;
}
.productMenu__ul {
  list-style-type: none;
  margin-top: 14px;
}
.productMenu__link {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  padding-left: 16px;
}
.productMenu__link:hover {
  color: #f16d7f;
}
.productMenu__sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 50px;
  background-color: #f3f3f3;
  margin-top: 40px;
}

.triangle_active_down .triangle_active_up {
  font-size: 14px;
  color: #6f6e6e;
  text-transform: uppercase;
}

.triangle_active_up {
  display: none;
}

.filterMenu {
  display: flex;
  justify-content: space-between;
}
.filterMenu__trending {
  width: 178px;
}
.filterMenu__h3 {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
}
.filterMenu__size {
  padding-left: 20px;
  width: 236px;
}
.filterMenu__price {
  padding-left: 20px;
  width: 263px;
}

.trending__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trending__name {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 26px;
}

.form__size {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  align-items: center;
}

.checkbox_size {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
  margin-right: 8px;
}

.label_size {
  margin-right: 20px;
  font-family: "OpenSans";
  font-size: 14px;
  color: #6f6e6e;
  line-height: 20px;
  text-transform: uppercase;
}
.label_size:last-of-type {
  margin-right: 0;
}

.sort {
  display: flex;
  margin-left: 10px;
  background-color: white;
  border: 1px solid #ebebeb;
}
.sort__name {
  font-size: 14px;
  padding: 10px 12px;
  line-height: 10px;
  color: #6f6e6e;
  border-right: 1px solid #ebebeb;
}
.sort__select {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6f6e6e;
  border-style: none;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 100px;
}
.sort__option {
  font-size: 14px;
  color: #6f6e6e;
  padding: 10px 12px;
  z-index: 1;
  background-color: #fff;
}

.numberPage {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.product__pagination {
  border: 1px solid #ebebeb;
  border-radius: 3px;
  width: 261px;
  padding: 15px;
  font-size: 16px;
  line-height: 12px;
  font-weight: 300;
}

.product__button {
  font-size: 16px;
  font-weight: 300;
  color: #f16d7f;
  padding: 15px 45px;
  background-color: white;
  border: 1px solid #f16d7f;
  border-radius: 3px;
  line-height: 12px;
  transition: border, color 0.2s linear;
}
.product__button:hover {
  box-shadow: 0 0 10px #f16d7f;
  background-color: #f16d7f;
  color: white;
}

.catalog__benefit {
  display: flex;
  justify-content: space-between;
  padding-bottom: 57px;
  margin-top: 110px;
  background-color: #222224;
}

.catalog__benefit_block {
  flex-direction: column;
  margin-top: 89px;
  width: 333px;
  padding-bottom: 57px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.catalog__benefit_article {
  margin-top: 32px;
}

.catalog__benefit_h5 {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
}

.catalog__benefit_p {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
  min-height: 93px;
  display: block;
}

.checkoutMain__ol {
  margin-top: 55px;
  margin-bottom: 93px;
  list-style-type: none;
}

.checkoutMain__list {
  border-bottom: 1px solid #e8e8e8;
}

.checkoutMain__details {
  display: flex;
}

.checkoutMain__summary {
  font-size: 16px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding-top: 34px;
  padding-bottom: 34px;
  line-height: 12px;
}
.checkoutMain__summary:hover {
  color: #f16d7f;
  cursor: pointer;
}

.checkoutMain__summary::-webkit-details-marker {
  display: none;
}

.checkoutMain__content {
  margin-bottom: 79px;
  font-weight: 300;
  font-size: 13px;
  color: #222222;
}

.checkoutMain__details_content {
  padding-bottom: 79px;
  display: flex;
}

.adress__form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.adress__h4 {
  font-size: 13px;
  color: #222222;
  text-transform: uppercase;
}

.adress__radio_div {
  margin-top: 15px;
  margin-bottom: 30px;
}

.adress__label {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.adress__radio_p {
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  text-transform: uppercase;
  padding-left: 14px;
}

.adress__p, .adress__link {
  padding-top: 15px;
  font-size: 13px;
  color: #b3b2b2;
}

.adress__link {
  padding-left: 3px;
}
.adress__link:hover {
  color: #f16d7f;
}

.adress__ul {
  margin-top: 30px;
  margin-bottom: 5px;
}

.adress__list {
  list-style-position: inside;
  list-style-type: none;
}
.adress__list::before {
  content: "»";
  font-size: 16px;
  font-weight: bold;
  color: #b3b2b2;
}

.adress__button {
  display: inline;
  padding: 19px 53px;
  font-size: 14px;
  font-weight: bold;
  color: #4a4a4a;
  transition: color, background-color 0.2s linear;
  text-transform: uppercase;
  border: 1px solid #eaeaea;
}
.adress__button:hover {
  color: white;
  background-color: #f16d7f;
  box-shadow: 0 0 10px #f16d7f;
  border-color: #f16d7f;
}

.textBox__name {
  margin-top: 22px;
  font-size: 12px;
  color: #222222;
}

.required_color_red {
  font-size: 13px;
  color: #ff0d0d;
}

.adress__textBox {
  width: 358px;
  min-height: 43px;
  font-size: 17px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  border: 1px solid #eaeaea;
}

p.required_color_red {
  margin-top: 22px;
}

.checkout__footer_adress {
  margin-top: 30px;
  display: flex;
  height: 100%;
  align-items: flex-end;
}

.forgot {
  font-size: 14px;
  align-self: center;
  margin-left: 32px;
  color: #222222;
}
.forgot:hover {
  color: #f16d7f;
}

.SinglePage__promo {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  min-height: 777px;
  background-color: #f7f7f7;
  border: 1px solid #eaeaea;
}

.SinglePage__promo_center {
  display: flex;
  align-items: center;
}

.SinglePage__pagination {
  padding: 15px 20px;
  background-color: rgba(42, 42, 42, 0.15);
  color: white;
  font-size: 24px;
  transition: background-color 0.2s linear;
}
.SinglePage__pagination:hover {
  background-color: #f16d7f;
}

.singlePage__promo_image {
  z-index: 0;
}

.container {
  display: flex;
  justify-content: center;
  border: 1px solid #eaeaea;
  z-index: 999;
  position: relative;
  margin-top: -84px;
  background-color: #fff;
  padding-bottom: 120px;
}

.SinglePage__toCart {
  max-width: 625px;
  padding-top: 73px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.toCart__collection {
  font-size: 14px;
  font-weight: bold;
  color: #f16d7f;
}

.red_line {
  background-color: #f16d7f;
  width: 63px;
  height: 3px;
  margin-top: 14px;
}

.serif_line {
  width: 147px;
  height: 1px;
  background-color: #eaeaea;
  margin-bottom: 17px;
}

.toCart__product_name {
  font-size: 18px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
}

.toCart__stars {
  display: none;
}

.toCart__product_description {
  text-align: center;
  margin-top: 65px;
  font-size: 14px;
  font-weight: 300;
  color: #5e5e5e;
  line-height: 24px;
}

.toCart__flex {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  justify-content: space-around;
}

.material {
  font-size: 14px;
  font-weight: bold;
  color: #b9b9b9;
  margin-right: 44px;
}
.material:last-of-type {
  margin-right: 0;
}

.material__description {
  color: #2f2f2f;
}

.toCart__price {
  font-size: 24px;
  font-weight: bold;
  color: #ef5b70;
  margin-top: 37px;
}

.fill__serif_line {
  height: 1px;
  width: 100%;
  background-color: #eaeaea;
  margin-top: 43px;
  margin-bottom: 63px;
}

.toCart__box {
  width: 537px;
  display: flex;
  flex-direction: column;
}

.toCart__choose {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.toCart__select {
  margin-top: 16px;
  width: 120px;
  padding: 8px 9px 8px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eaeaea;
}
.toCart__select:hover {
  cursor: pointer;
}

.select__half {
  display: inline-flex;
  align-items: center;
}

.red_block {
  height: 12px;
  width: 12px;
  margin-right: 11px;
  background-color: #f16d7f;
}

.choose__select_p {
  font-size: 13px;
  line-height: 10px;
  color: #bcbcbc;
  border: none;
}

.toCart__input_quanity {
  width: 120px;
}

.toCart__button {
  display: inline-flex;
  justify-content: center;
  font-size: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #f16d7f;
  font-weight: bold;
  color: #f16d7f;
  margin-top: 28px;
  transition: color, background-color 0.2s linear;
}
.toCart__button:hover {
  color: #ffffff;
  background-color: #f16d7f;
  box-shadow: 0 0 10px #f16d7f;
}

.icon_cart {
  margin-right: 15px;
}

.also {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 70px;
}

.also__name {
  font-size: 24px;
  font-weight: 900;
  color: #4d4d4d;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.also__product_contents {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.also_image_product {
  height: 280px;
  align-items: flex-start;
  background-color: #e9e9e9;
}

.product_content:hover .also_image_product {
  background-color: #666666;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.button {
  padding: 12px 19px;
  font-size: 15px;
  color: #ffffff;
  background-color: #f16d7f;
}
.button:hover {
  box-shadow: 0 0 7px #f16d7f;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0px 0px 10px 0px #ececec;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left, .header__right {
  display: flex;
  align-items: center;
}
.header__form {
  display: flex;
  align-items: center;
  margin-left: 37px;
}
.header__cart {
  margin-right: 26px;
}
.header_search_div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  outline: 1px solid #e6e6e6;
  border-radius: 3px;
}
.header_details {
  position: relative;
  border-radius: 3px 0px 0px 3px;
  padding: 14px;
  font-weight: 300;
  line-height: 10px;
  color: #222222;
  border-right: 1px solid #e6e6e6;
}
.header_details:hover {
  cursor: pointer;
}
.header_details[open] .header_drop_browse {
  display: flex;
}
.header_details[open] .header__summary {
  color: #f16d7f;
}
.header_text_input {
  border-style: none;
  padding: 14px 16px;
  line-height: 10px;
  width: 248px;
}
.header_search_button {
  border-left: 1px solid #e8e8e8;
  padding: 12px 11px;
}
.header_search_button:hover {
  text-shadow: 0 0 8px #f16d7f;
}
.header_drop_browse {
  z-index: 1;
  left: 0;
  top: 36px;
  position: absolute;
  width: 234px;
  flex-direction: column;
  display: none;
  justify-content: space-between;
  padding: 13px 21px;
  border-radius: 5px;
  background-color: white;
}

.header__summary {
  transition: color 0.2s linear;
}

.header_details .header__summary::-webkit-details-marker {
  display: none;
}

.header_details .header__summary::after {
  content: "▶";
  padding-left: 0.5em;
  color: #838383;
}

.header_details[open] .header__summary::after {
  content: "▼";
  padding-left: 0.33em;
  color: #f16d7f;
}

.triangle_down {
  font-size: 14px;
  color: white;
  margin-left: 8px;
}

.search_icon {
  font-size: 14px;
  color: #a4a4a4;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  line-height: 32px;
  text-transform: uppercase;
}
.logo_pink {
  font-weight: 900;
  color: #f16d7f;
}
.logo__img {
  margin-right: 13px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.menu__list {
  position: relative;
}
.menu__list:hover .drop {
  display: flex;
}
.menu__link {
  padding: 20px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  line-height: 10px;
  text-transform: uppercase;
}
.menu__link:hover {
  color: #f16d7f;
}
.menu__active {
  border-bottom: 3px solid #f16d7f;
}

.drop {
  z-index: 1;
  position: absolute;
  top: 46px;
  display: none;
  justify-content: space-between;
  padding: 13px 21px;
  border-radius: 5px;
  background-color: white;
}
.drop_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 234px;
  margin-right: 46px;
}
.drop_flex:last-of-type {
  margin-right: 0;
}
.drop_h3 {
  font-size: 14px;
  color: #232323;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-bottom: 8px;
  padding-top: 16px;
}
.drop_ul {
  list-style: none;
}
.drop_link {
  font-size: 14px;
  color: #646464;
  line-height: 28px;
}
.drop_link:hover {
  color: #f16d7f;
}
.drop_image_sale {
  display: block;
  background-image: url(img/drop_image.jpg);
  width: 255px;
  height: 118px;
  margin-left: -21px;
}
.drop_image_content {
  font-size: 22px;
  font-weight: 900;
  color: white;
  line-height: 28px;
  margin-top: 60px;
  margin-left: 174px;
  text-transform: uppercase;
}
.drop_last {
  right: 0;
}

.promo {
  height: 614px;
  background-color: #e8e8e8;
  background-image: url(img/promo-back.png);
  background-position: center -51px;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
}
.promo_content {
  margin-top: 240px;
  padding-left: 19px;
  border-left: 12px solid #f16d7f;
}
.promo__h1 {
  font-size: 60px;
  font-weight: 900;
  line-height: 45px;
  color: #222222;
}
.promo__h2 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  line-height: 31px;
}

.sale {
  display: flex;
  justify-content: space-between;
  height: 1020px;
}
.sale_left_box {
  width: 560px;
  margin-top: 78px;
  margin-bottom: 80px;
}
.sale_right_box {
  width: 560px;
  margin-top: 78px;
  margin-bottom: 80px;
  margin-left: 20px;
}
.sale_content {
  background-color: #fff;
  padding: 16px 19px;
  margin-top: 25px;
  float: left;
}
.sale_p {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.sale_h3 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.big_sale_box {
  height: 542px;
  margin: 20px 0px;
}

.small_sale_box {
  height: 261px;
  margin-top: 20px;
}

.men {
  background-image: url(img/men.jpg);
}

.women {
  background-image: url(img/women.jpg);
}

.acces {
  background-image: url(img/accesorie.jpg);
}

.kid {
  background-image: url(img/kid.jpg);
}

.featured_items_h4 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 23px;
}

.featured_items_p {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 54px;
}

.product_contents {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 60px;
}

.product_content {
  width: 261px;
  background-color: #fff;
  margin-top: 30px;
  text-align: center;
  transition: transform 0.3s;
}

.product_content:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.16);
}

.image_product {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_content:hover .image_product > a > img {
  filter: brightness(40%);
}

.product_content:hover .image_content {
  display: flex;
}

.image_content:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
  box-shadow: 0 0 10px #ffffff;
}

.image_content {
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding: 15px;
  border: 1px solid #ffffff;
}

.product_content_h6 {
  font-size: 13px;
  color: #222222;
  text-align: left;
  margin: 20px 20px;
  text-transform: uppercase;
}

.product_content_price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-align: left;
  margin: 18px 20px 30px;
  text-transform: uppercase;
}

.product_cart {
  margin-right: 8px;
}

.benefit {
  margin-top: 110px;
  display: flex;
  padding-bottom: 97px;
}

.benefit_left_box {
  width: 767px;
  height: 529px;
  background-image: url(img/filter_benefit_back.png), url(img/benefit_back.jpg);
}

.benefit_left_content {
  margin-top: 146px;
}

.benefit_left_content_h2 {
  font-size: 54px;
  font-weight: bold;
  color: #ffffff;
  line-height: 40px;
  -webkit-transform: scale(0.89);
  -ms-transform: scale(0.89);
  transform: scale(0.89);
}

.pink {
  color: #f16d7f;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.benefit_left_content_p {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  -webkit-transform: scale(0.89);
  -ms-transform: scale(0.89);
  transform: scale(0.89);
}

.benefit_right_box {
  width: 373px;
  background-color: #222224;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-around;
}

.benefit_block {
  display: flex;
  align-items: flex-start;
}

.benefit_block > img {
  padding-left: 36px;
  padding-right: 30px;
}

.benefit_description_name {
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  margin-left: 3px;
}

.benefit_description_content {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  margin-right: 25px;
  margin-top: 21px;
}

.subscribe {
  position: relative;
  background: url(img/subscribe_filter.png), url(img/subscribe_back.jpg) center no-repeat;
  background-size: cover;
  height: 438px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.subscribe_left {
  display: flex;
  align-items: flex-start;
  width: 50%;
  margin-top: 111px;
}

.subscribe_image_author {
  margin-right: 27px;
}

.quote_content_p {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  line-height: 26px;
}

.quote_content_author {
  margin-top: 16px;
}

.author_name {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 26px;
}

.author_location {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  line-height: 14px;
}

.subscribe_right {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.subscribe_right {
  margin-top: -15px;
}

.subscribe_right_content_h4 {
  text-align: center;
  font-size: 24px;
  color: #222224;
  text-transform: uppercase;
}

.subscribe_right_content_p {
  text-align: center;
  font-size: 14px;
  color: #222224;
  line-height: 24px;
}

.subscribe_textBox_div {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  width: 386px;
  border-radius: 30px;
  background-color: #e1e1e1;
}

.subscribe_textBox_input {
  border-style: none;
  background-color: transparent;
  padding: 18px 28px;
  width: 100%;
}

.subscribe_textBox_button {
  padding: 18px 20px;
  background-color: #f16d7f;
  font-size: 14px;
  color: white;
  text-align: center;
  border-radius: 0 30px 30px 0;
}
.subscribe_textBox_button:hover {
  box-shadow: 0 0 7px #f16d7f;
}

.footer {
  margin-top: 109px;
}

.footer_information_company {
  display: flex;
  justify-content: space-between;
}

.footer_description_company_p {
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  line-height: 24px;
  margin-top: 30px;
  width: 431px;
}

.footer_list_company_h6 {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #f16d7f;
  line-height: 14px;
}

.footer_list_company_ul {
  margin-top: 42px;
}

.footer_list_company_li {
  list-style-type: none;
  padding: 11px 0;
}

.footer_list_company_a {
  font-size: 16px;
  color: #898989;
  padding: 11px 0;
  padding-right: 11px;
  width: 100%;
}

.footer_list_company_a:hover {
  color: #f16d7f;
}

.copyright {
  background-color: #e6e6e6;
  margin-top: 95px;
  padding-top: 24px;
  padding-bottom: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright > p {
  font-size: 16px;
  color: #7a7a7a;
}

.network {
  display: flex;
}
.network_icon_a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-left: 8px;
  background-color: white;
}
.network_icon_a:hover {
  background-color: #f16d7f;
}
.network_icon_i {
  font-size: 16px;
  color: #b2b2b2;
}
.network_icon_a:hover .network_icon_i {
  color: #f7f7f8;
}

.catalog__contents {
  padding-bottom: 0px;
}

/*# sourceMappingURL=style.css.map */
